html,
body {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  height: 100vh;
  margin: 0;
}

p,
select,
input[type="range"] {
  margin: 5;
  text-align: center;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 2px solid #ccc;
}
